.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #babbb9;
    color: #676767;
    padding: 0 0 15px;

    .title {
        margin: 0;
    }

    .button {
        border: none;
        padding: 0px 8px;
        border-radius: 50%;
        cursor: pointer;
        font-size: 25px;
        background: #354046;
        color: #fff;

        &:hover {
            background: #4c5961;
        }
    }
}
