.container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 7px;

    label {
        bottom: -5px;
        position: relative;
        transition: all 0.25s ease 0s;
        color: #a0a0a0;
    }

    textarea {
        outline: none;
        border: none;
        resize: none;
        border-bottom: 1px solid #a0a0a0;
        width: 100%;
    }

    &.focused {
        label {
            bottom: 5px;
            color: #5582a3;
        }

        input {
            border-color:#5582a3;
        }
    }
}
